<!-- src/views/editCategoryForm.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
</head>
<body>
    <h1>Edit Category</h1>
    <form action="/categories/edit/<%= category._id %>?_method=PUT" method="POST"> <!-- Specify method as POST -->
        <input type="hidden" name="_method" value="PUT"> <!-- Add hidden input field to specify PUT method -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= category.name %>" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required><%= category.description %></textarea>
        <button type="submit">Save Changes</button>
    </form>
    <form action="/categories" method="GET">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>
