<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello <%= displayName %>!</h1>
    <form action="/profile" method="GET">
        <button type="submit">Profile</button>
    </form>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <form action="/categories" method="GET">
        <button type="submit">Categories</button>
    </form>
    <form action="/transactions" method="GET"> <!-- Add a new form for Transactions -->
        <button type="submit">Transactions</button> <!-- Button for Transactions -->
    </form>
    <form action="/budgets" method="GET"> <!-- Add a new form for Budgets -->
        <button type="submit">Budgets</button> <!-- Button for Budgets -->
    </form>
</body>
</html>
